@import url(../Variables.css);
.contactBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 100px;
}
.contactInfo {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 20px;
    border-radius: 10px;
    transform:rotate(0.5deg);
    transition: all 0.5s;
    align-items: center;
    background: linear-gradient(90deg, var(--gradientColorFirst), var(--gradientColorSecond), var(--gradientColorThird)) 100% / 170%;
    height: 80px;
}
.contactInfo:hover {
    transform:rotate(0);
    box-shadow: 1px 1px 10px var(--underlineColor);
}
.contactInfo h1, .contactInfo p, .contactInfo ul {
    color: var(--colorText);
    margin: 0;
}
.contantLink {
    list-style-type: none;
}
.contantLink a {
    color: var(--colorText);
}
.contactLink {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 10px;
    text-align: left;
    padding: 10px;
}
.formBox {
    width: 400px;
    padding: 30px;
    margin: 20px;
    border: 1px solid black;
    border-radius: 10px;
    background: linear-gradient(90deg, var(--gradientColorFirst), var(--gradientColorSecond), var(--gradientColorThird)) 100% / 170%;
}
.contactForm {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.contactForm input, .contactForm textarea {
    border: none;
    border: 1px solid black;
    border-radius: 10px;
    background-color: var(--headerBackground);
    color: var(--colorText);
    height: 20px;
    padding: 5px;
}
.contactForm input::placeholder, .contactForm textarea::placeholder {
    color: var(--colorText);
}
.contactForm textarea {
    max-width: 400px;
    max-height: 400px;
    min-width: 100px;
    min-height: 100px;
}
.formBox p {
    text-align: center;
    font-size: 18px;
}
.submitButton {
    width: 200px;
    height: 30px;
    padding: 5px;
    border-radius: 5px;
    background: linear-gradient(90deg, var(--gradientColorThird), var(--gradientColorFirst), var(--gradientColorSecond));
    color: var(--colorText);
    font-weight: bold;
    transition: all 0.5s;
}
.submitButton:hover {
    cursor: pointer;
    width: 205px;
    background-color: rgb(44, 165, 135);
}
.buttonBox {
    display: flex;
    width: 100%;
    justify-content: center;
}