@import url(../Variables.css);
.headerMenu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    width: 100vw;
    position: fixed;
    top: 0px;
    transition: all 0.3s ease;
    z-index: 1;
}
.headerMenu.scrolled {
    background-color: var(--headerBackground);
}
.mainLogo {
    padding: 0 20px;
}
.mainLogo h2 {
    width: 100px;
    background: linear-gradient(45deg, var(--gradientColorSecond), var(--gradientColorFirst), var(--gradientColorSecond));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}
.linkBox {
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    width: 100%;
    align-items: center;
    list-style-type: none;
    margin-top: 50px;
    position: fixed;
    top: -200px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
}
.linkBox.active {
    top: -50px;
    opacity: 1;
    background: linear-gradient(45deg, var(--gradientColorSecondFullBg), var(--gradientColorFirstFullBg), var(--gradientColorSecondFullBg));
}
.linkBox li {
    height: 50px;
    font-size: 30px;
}
.menuLink {
    padding: 20px;
    color: var(--colorText);
    text-decoration: none;
    font-weight: bold;
}
.menuLink:hover, .menuLink.active {
    text-decoration: underline;
    text-decoration-color: var(--underlineColor);
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
    background: var(--colorText);
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

/* Burger-Menu */
.hamMenu {
    height: 30px;
    width: 30px;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    padding: 10px 8px;
}

.hamMenu span {
    height: 5px;
    width: 100%;
    background-color: var(--hamburgerColor);
    border-radius: 5px;
    position: relative;
    transition: all 0.4s ease;
}

.hamMenu.active span:nth-child(1) {
    transform: rotate(45deg);
    top: 10px;
}
.hamMenu.active span:nth-child(2) {
    opacity: 0;
    transform: translateX(-20px);
}
.hamMenu.active span:nth-child(3) {
    transform: rotate(-45deg);
    bottom: 10px;
}

@media only screen and (min-width: 786px) {
    .headerMenu {
        justify-content: space-around;
    }
    .hamMenu {
        display: none;
    }
    .mainLogo {
        width: 48%;
        padding: 0 20px;
    }
    .linkBox {
        flex-direction: row;
        margin: 0;
        line-height: 50px;
        width: auto;
        opacity: 1;
        position: static;
    }
    .linkBox li {
        font-size: 18px;
    }
}