.navText {
    padding-right: 10px;
    font-weight: bold;
}
.menuLink {
    text-decoration: none;
    color: var(--colorText);
}
.menuLink.active {
    text-decoration: underline;
    text-decoration-color: var(--underlineColor);
    text-underline-offset: 10px;
    text-decoration-thickness: 2px;
}
.navText:hover .menuLink span {
    display: inline-block;
    animation: jumpAnim 0.2s ease forwards;
}
.menuLink span {
    background: linear-gradient(90deg, #fff, #21cf95);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    background-size: 60px 50px;
    background-repeat: no-repeat;
    background-position: 0%;
}

@keyframes jumpAnim {
    0% {
        background-position: 50%;
    }
    50% {
        background-position: 50%;
        transform: translateY(-5px);
    }
    100% {
        background-position: 0%;
        transform: translateY(0);
    }
}